body {
	font-family:Helvetica,Arial,sans-serif;
}

h1 {
	color:#0991BD;
	font-size:20px;
}

.mapTooltip {
	position : fixed;
	background-color : #fff;
	moz-opacity:0.70;
	opacity: 0.70;
	filter:alpha(opacity=70);
	border-radius:10px;
	padding : 10px;
	z-index: 1000;
	max-width: 200px;
	display:none;
	color:#343434;
}

.container {
    max-width: 800px;
    margin:auto;
}
/*styling for images above map*/
.myText {
    /*background-image: url("photos/BondfireLogo.png");*/
    height:120px;
    padding:10px;
    color:#fff;
    overflow:auto;
    margin:10px;
    text-align: center;
}
.mapload {
	margin:auto;
	text-align: center;
	color:#0991BD;
	font-size:20px;

}